<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SportsdataSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.openligadb.de/Webservices/Sportsdata.asmx"
                binding="basicHttpBinding" bindingConfiguration="SportsdataSoap"
                contract="ServiceReference1.SportsdataSoap" name="SportsdataSoap" />
        </client>
    </system.serviceModel>
</configuration>